* {
    box-sizing: border-box;
  }

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.container {
    align-items: center;
    justify-content: space-around;
    width:100%;
    margin-top: 10px;
}

.contained {
    flex: 1 1 33%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.text-shadow {
    text-shadow: 0px 5px 7px rgba(150, 150, 150, 1);
}

#submit-letter {
    margin: 10px auto;
    width: 100%;
}

#welcome-container {
    flex-direction: column;
}

#reset-section {
    flex-direction: column;
}

#results-container {
    margin-bottom: 20px;
}

#game-display {
    display: flex;
}

/* CSS for stick figure man */

.wrapper {
    width: 300px;
    height: 100px;
    display: block;
    position: relative;
  }

.left-frame {
    width: 20px;
    height: 300px;
    border: 10px solid black;
    border-radius: 5px;
    display: block;
    position: absolute;
    left: 50px;
    top: -100px;
}

.top-frame {
    width: 200px;
    height: 20px;
    border: 10px solid black;
    border-radius: 5px;
    display: block;
    position: absolute;
    left: 65px;
    top: -100px;
}

.cross-frame {
    width: 150px;
    height: 20px;
    border: 10px solid black;
    background-color: black;
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 40px;
    top: -50px;
}

.bottom-frame {
    width: 150px;
    height: 20px;
    border: 10px solid black;
    border-radius: 5px;
    display: block;
    position: absolute;
    left: -15px;
    top: 190px;
}

.rope {
    width: 3px;
    height: 123px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: black;
    display: block;
    position: absolute;
    left: 225px;
    top: -108px;
}

.lash-one {
    width: 3px;
    height: 32px;
    border: 3px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: black;
    display: block;
    position: absolute;
    left: 221px;
    top: -107px;
}

.lash-two {
    width: 3px;
    height: 32px;
    border: 3px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: black;
    display: block;
    position: absolute;
    left: 229px;
    top: -107px;
}

.knot-one {
    width: 15px;
    height: 2px;
    border: 3px solid black;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: black;
    display: block;
    position: absolute;
    left: 221px;
    top: 0px;
}

.knot-two {
    width: 18px;
    height: 2px;
    border: 3px solid black;
    border-radius:5px;
    background-color: black;
    display: block;
    position: absolute;
    left: 219px;
    top: 5px;
}

.knot-three {
    width: 15px;
    height: 2px;
    border: 3px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: black;
    display: block;
    position: absolute;
    left: 221px;
    top: 10px;
}

.head {
    width: 65px;
    height: 65px;
    border: 5px solid black;
    border-radius: 50%;
    background-color: white;
    display: block;
    position: absolute;
    left: 196px;
    top: -65px;
}

.torso {
    width: 5px;
    height: 115px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    display: block;
    position: absolute;
    left: 225px;
    top: 0px;
}

.left-arm {
    width: 5px;
    height: 70px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    display: block;
    position: absolute;
    left: 225px;
    top: 25px;
    transform: rotate(45deg);
    animation: wave 1.5s alternate infinite ease-in-out;
    transform-origin: right top;
}

@keyframes wave {
    0% {
        transform: rotate(90deg)
    }
    100% {
        transform: rotate(25deg)
    }
}

.left-arm-stop {
    width: 5px;
    height: 70px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    display: block;
    position: absolute;
    left: 213px;
    top: 25px;
    transform: rotate(20deg);
}

.right-arm {
    width: 5px;
    height: 70px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    display: block;
    position: absolute;
    left: 225px;
    top: 25px;
    transform: rotate(-45deg);
    animation: wave2 1.25s alternate infinite ease-in-out;
    transform-origin: left top;
}

@keyframes wave2 {
    0% {
        transform: rotate(-90deg)
    }
    100% {
        transform: rotate(-25deg)
    }
}

.right-arm-stop {
    width: 5px;
    height: 70px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    display: block;
    position: absolute;
    left: 238px;
    top: 25px;
    transform: rotate(-20deg);
}

.left-leg {
    width: 5px;
    height: 70px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    display: block;
    position: absolute;
    left: 217px;
    top: 103px;
    transform: rotate(15deg);
}

.left-foot {
    width: 5px;
    height: 15px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    display: block;
    position: absolute;
    left: 200px;
    top: 160px;
    transform: rotate(-75deg);
}

.right-leg {
    width: 5px;
    height: 70px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    display: block;
    position: absolute;
    left: 235px;
    top: 103px;
    transform: rotate(-15deg);
}

.right-foot {
    width: 5px;
    height: 15px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: black;
    display: block;
    position: absolute;
    left: 250px;
    top: 160px;
    transform: rotate(75deg);
}

.left-eye-one {
    width: 3px;
    height: 15px;
    background-color: black;
    display: block;
    position: absolute;
    left: 215px;
    top: -45px;
    transform: rotate(45deg);
}

.left-eye-two {
    width: 3px;
    height: 15px;
    background-color: black;
    display: block;
    position: absolute;
    left: 215px;
    top: -45px;
    transform: rotate(-45deg);
}

.right-eye-one {
    width: 3px;
    height: 15px;
    background-color: black;
    display: block;
    position: absolute;
    left: 238px;
    top: -45px;
    transform: rotate(45deg);
}

.right-eye-two {
    width: 3px;
    height: 15px;
    background-color: black;
    display: block;
    position: absolute;
    left: 238px;
    top: -45px;
    transform: rotate(-45deg);
}


