


.hidden {
    display: none;
}

.visible {
    display: flex;
}

.container {
    align-items: center;
    justify-content: space-around;
    width:100%;
    margin-top: 10px;
}

.contained {
    flex: 1 1 33%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#submit-letter {
    margin: 10px auto;
    width: 100%;
}

#welcome-container {
    flex-direction: column;
}

#reset-section {
    flex-direction: column;
}

#results-container {
    margin-bottom: 20px;
}

.text-shadow {
    text-shadow: 0px 5px 7px rgba(150, 150, 150, 1);
}